<!DOCTYPE html>
<html>
  <head>
    <title>Wedio</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key="+Rails.application.credentials.google[:api_key] %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script type="text/javascript">
        window.hamburgerIcon = "<%= image_url('hamburger_menu.png') %>";
        window.fullLogo = "<%= image_url('full_logo.png') %>";   
        window.newLogo = "<%= image_url('new_logo.png') %>";   
        window.profile = "<%= image_url('profile_photo.JPG') %>";   
    </script> 
    <script src="https://kit.fontawesome.com/a12c73d291.js" crossorigin="anonymous"></script>
    <meta name="image" property="og:image" content="https://imgur.com/junlPmB.png"/>
    <meta name="description" property="og:description" content="Wedio - We Make Videos (A single page web app inspired by youtube)">
    <meta name="author" content="Millie He">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/ptgGeKT.png" />
    <%# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest"> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
